<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      El usuario <%=@sender=%> acaba de subir el recibo de la transacción, no olvides completar esta transacción antes de las 72 horas para evitar que tu cuenta sea bloqueada y seas inhabilitado de la plataforma.
    </p>
  </body>
</html>