<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Felicidades, el usuario <%=@receiver%> a completado y confirmado la transacción. En 15 dias el sistema
      retornada la ganancia de tu meta.
    </p>
  </body>
</html>