<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Felicidades, se a creado una transacción con el usuario <%=@sender.email%>. No olvides confirmarla tan pronto
    	suban el recibo para evitar posibles penalizaciones. En caso de que el usuario no complete esta transacción, <%=@sender.email%> sera bloqueado, la transaccion esta será cancelada y tu saldo será retornado.
    	Recuerda comunicarte con soporte para el retorno del valor de la transacción.
    </p>
  </body>
</html>