<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Felicidades, se a creado una transacción con el usuario <%=@receiver.email=%>. No olvides completarla transfiriendo <%=@value=%>USD al monedero <%=@receiver.btc=%> y subir el recibo para que el usuario pueda marcar dicha transacción como completada. Recuerda que a las 72 horas de no cumplir con estos requisitos tu cuenta sera bloqueada y posteriormente serás penalizado por nuestra comunidad.
    </p>
  </body>
</html>