<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="text-center">
  	<br>
	  <%= link_to "Olvidaste la contraseña? Recuperar contraseña", new_password_path(resource_name) %><br />
		<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			<%= link_to "Re enviar correo de confirmación de cuenta", new_confirmation_path(resource_name) %>
		<%end%>
	  <br>
  </div>
<% end -%>

