
  <nav class="own-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Editar Articulo</a>
        </div>
    </div>
  </nav>


  <div class="blog-area bg-light blog-page"> 
    <div class="col-md-12">
        <div class="" style="padding-top:80px;">

        <%= render 'form', article: @article %>

        <%= link_to 'Show', @article %> |
        <%= link_to 'Back', articles_path %>

        </div>       
    </div>    
  </div>
