  <nav class="own-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">NEWS</a>
        </div>
    </div>
  </nav>


  <div class="blog-area bg-light blog-page"> 
    <div class="col-md-12">
        <div class="pt-20 text-center" style="margin-top:50px;">
            
       
        
        <div class="mb40 col-md-6 col-sm-6 col-xs-12">

            <div class="post-snippet">
                    
                    <div class="img-box">
                        <img src="assets/images/blog-imgs/blog-img-2.jpg">
                    </div>

                    <div class="meta">

                        <a href="blogs-post-sidebar.html"><h4>Maximized earnings for september.</h4></a>                                    
                        <p>Next month we will have a plus of 10% in all donations.</p>

                        <div class="post-info">
                            <i class="pe-7s-clock"></i> <p>3 days ago</p>
                            <div class="pull-right">
                                <a href="#"><i class="pe-7s-share"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                            </div>
                        </div><!-- //post-info -->
                        
                    </div><!-- //meta -->

                </div><!-- //post-snippet -->

            </div><!-- //col -->

        </div>

        <div class="mb40 col-md-6 col-sm-6 col-xs-12">

            <div class="post-snippet">
                    
                    <div class="img-box">
                        <img src="assets/images/blog-imgs/blog-img-2.jpg">
                    </div>

                    <div class="meta">

                        <a href="blogs-post-sidebar.html"><h4>Maximized earnings for september.</h4></a>                                    
                        <p>Next month we will have a plus of 10% in all donations.</p>

                        <div class="post-info">
                            <i class="pe-7s-clock"></i> <p>3 days ago</p>
                            <div class="pull-right">
                                <a href="#"><i class="pe-7s-share"></i></a>
                                <a href="#"><i class="pe-7s-like"></i></a>
                            </div>
                        </div><!-- //post-info -->
                        
                    </div><!-- //meta -->

                </div><!-- //post-snippet -->

            </div><!-- //col -->

        </div>


        </div>       
    </div>    
  </div>

 

