  <nav class="own-navbar">
    <div class="container-fluid">

        <button class="navbar-toggle own-btn-nav" data-target="navbar-collapse" data-toggle="collapse">
          <span class="icon icon-bar fa fa-bars"></span>
          <span class="icon icon-bar"></span>
          <span class="icon icon-bar"></span>
        </button>

        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">NEWS</a>
        </div>

        <div style="float:right; margin-right:20px;">
          <script type="text/javascript">
          crypt_single_base_currency = "Bitcoin (BTC)";crypt_single_target_currency = "US Dollar (USD)";crypt_single_font_family = "Verdana";crypt_single_font_size = "small";</script>
          <script type="text/javascript" src="https://www.cryptonator.com/ui/js/widget/single_widget.js"></script>
        </div>
    </div>
  </nav>


  <div class="blog-area bg-light blog-page"> 
    <div class="col-md-12">
        <div class="pt-20  article-container" style="margin-top:50px;">

        
            <% @news.each do |article| %>
                <%=   render :partial => 'news_article', locals: {article: article}%>
            <%end%>

        


        </div>       
    </div>    
  </div>

 

