<br>
<br>
<br>

<h3 class="title-not">Tus notificaciones</h3>


<div class="container-fluid" style="width:70%; padding:0px;">
  <ul style="padding:0px;">
    <%@notifications.each do |notification|%>
      <!-- Cuando me mandan plata -->
      <%if !notification.value.nil?%>
        <div class="not-value">
          <li style="display:flex; padding:0px;">
            <div class="not-disp">
              <i class="fa fa-refresh icon-not" aria-hidden="true"></i>
            </div>
            <%user = User.find(notification.owner_id)%>
            <h4 style="font-size:12px;">
            El usuario <b><%=user.name%></b> a realizado una transaccion por el valor de <b>$<%=notification.value%></b>, recuerda confirmar la transaccion para terminar el proceso.</h4>
          </li>
        </div>
      <!-- Cuando el usuario acepta la transaccion -->
      <%elsif !notification.transaction_value.nil?%>
        <div class="not-value">
          <li style="display:flex; padding:0px;">
            <div class="not-disp">
              <i class="fa fa-check icon-not" aria-hidden="true"></i>
            </div>

            <h4 style="font-size:12px; ">
              Usuario aceptó su transacción por un valor de <b><%=notification.transaction_value%></b>.
            </h4>
          </li>
        </div>
      <%end%>
    <%end%>
  </ul>
</div>

<style>
  .chat-notification form{
    display: inline;
  }
</style>
