<nav class="own-navbar">
  <div class="container-fluid" style="padding:0px;">
    <!-- menu mobile display -->
    <button class="navbar-toggle own-btn-nav" data-target="navbar-collapse" data-toggle="collapse">
      <span class="icon icon-bar fa fa-bars"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Estado Referidos</a>
    </div>
  </div>
</nav>


<div class="row">
  <div>
    <div style=" background: rgba(40, 128, 214, 0.68);">
      <h3 class="text-center" style=" margin-top: 30px; font-weight: 500; font-style: normal; padding: 32px 180px; color: white">Recuerda haber 
          realizado una donación durante el ultimo mes para disfrutar del bono de tus referidos de <b style="color: black">PRIMER NIVEL.</b>
      </h3>
    </div>
    <div>
    <br>
      <table class='table table-hover table-striped responsive-table' style="margin-top: 30px; width: 50%; margin: 0 auto; ">
        <thead class="blue-text text-darken-4">
          <tr>
            <th>
              Ultima Donación
                <i class="fa fa-hand-o-up" aria-hidden="true"></i>
            </th>
            <th>Estado Ultima Donación del mes</th>
          
          </tr>
        </thead>

        <tbody class="anchorFixcolor hoverTable">
          <tr>
          <%unless @last_donation.nil?%>
            <th class="text-center"> 
              <%= @last_donation.created_at.strftime("%m/%d/%y  %H:%M:%S")%>               
            </th>
            <th class="text-center">
              <%if @last_donation.status == "completed" %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <%else%>
                <i class="fa fa-times" aria-hidden="true"></i>
              <%end%>
            </th>
          <%end%>
          
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>
<div class="row">
  <div>
   <div style=" background: rgba(40, 128, 214, 0.68);">
      <h3 class="text-center" style="margin-top: 30px; font-weight: 500; font-style: normal; padding: 32px 180px; color: white">Para disfrutar de los bonos de tus referidos de niveles inferiores
      debes tener <b style="color: black">10 o más</b> referidos de primer nivel que hayan donado <b  style="color: black">500Usd o más</b>. 
      </h3>
    </div>
    
    </h3>
    <div>
      <table class='table table-hover table-striped responsive-table' style="margin-top: 30px; width: 50%; margin: 0 auto;">
        <thead class="blue-text text-darken-4">
          <tr>
            <th>Total Referidos primer nivel</th>
            <th>Referidos con donaciones mayor a 500</th>   
          </tr>
        </thead>

        <tbody class="anchorFixcolor hoverTable">+
          <tr>
            <th class="text-center"><%= @level_one.count %></th>
            <th class="text-center">                
              <%=current_user.total_value_donations_level(1)%>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




