<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>La persona  <%= @nombre %></h1>
    <p>
      Con el email <%= @email %>.<br>
    </p>
    <p>
      Ha enviado el siguiente mensaje en donatingoals.com
    </p>
    <p>  <%= @mensaje %></p>
  </body>
</html>