
    <%= stylesheet_link_tag "style_countdown" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="fh5co-loader"></div>

	<div id="page">

	<div id="fh5co-container" class="js-fullheight">
		<div class="countdown-wrap js-fullheight">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc animate-box">
							<nav class="fh5co-nav" role="navigation">
								<div id="fh5co-logo"><a href="index.html">We Are Coming Soon!<strong>.</strong></a></div>
							</nav>
							<h1><i class="pe-7s-cash"></i></h1>
							<h1>Donating Goals</h1>
							<h2>Biggest donation community in north and south america</h2>
							<div class="simply-countdown simply-countdown-one"></div>
							<div class="row">
								<div class="col-md-12 desc">
									<h2>Our platform is opening soon. <br> Please register to get 5% more in your account balance!</h2>
									<form class="form-inline" id="fh5co-header-subscribe">
										<div class="col-md-12 col-md-offset-0">
											<div class="form-group">
												<a href="/users/sign_up" class="btn btn-primary"> Subscribe </a>
											</div>
										</div>
									</form>
									<ul class="fh5co-social-icons">
										<li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
										<li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
										<li><a href="#"><i class="icon-linkedin-with-circle"></i></a></li>
										<li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-cover js-fullheight" style="background-image:url(/images/counter_back.png);">

		</div>
	</div>
	</div>





<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<%= javascript_include_tag 'jquery.waypoints.min' %>
<%= javascript_include_tag 'simplyCountdown' %>
<%= javascript_include_tag 'main' %>

<script>
    var d = new Date(new Date().getTime() + 90 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
</script>
