<!-- hero section -->
<header>
  <div class="container-fluid" style="padding:0px; margin:0px; background:#34383B;">
    <div class="row" style="padding:0px; margin:0px;">
        <div class="col-md-7 col-xs-12" style="padding:0px; margin:0px;">
          <img src="/images/foto9.jpeg" alt="" style="width:100%;">
        </div>
        <div class="col-md-5 col-xs-12" style="padding:0px; margin:0px;">
          <div class="info-met">
            <h1 style="color:#fff; font-size:19px;">Lo que</h1>
            <h1 style="font-weight:900; color:#fff; font-size:75px;">tu quieras</h1>
            <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color: #6D9F00; width: 12%; top: -25px; font-weight: 500; font-size: 82px;"></span>
            <p style="color:#fff; font-size:30px; padding:20px;">Son muchos los sueños que tienes y por eso tenemos un grupo de personas en todo el mundo que quieres ayudarte a conseguir tus metas</p>
        </div>
      </div>
    </div>
    <!-- //row -->
  </div>
  <!-- //container -->
</header>
<!-- //hero section -->

<!-- Page title -->
<header class="page-title" style="background:#fff;">

  <div class="container">

    <div class="row">

      <ol class="breadcrumb">

        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#" class="active">¿Cómo Funciona?</a>
        </li>

      </ol>

      <h1>¿Cómo Funciona Donating Dreams?</h1>
      <p style="margin-top:10px; width: 50%; margin-top: 10px;">Con unos sencillos pasos podrás hacer parte de la comunidad mundial que más se preocupa por hacer feliz a sus miembros</p>

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</header>
<!-- //page title -->

<!-- Pricing Tables -->
<div class="pt80 pb40">
  <div class="container">
    <div class="row">

      <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="price-box">
          <div class="price-container">
            <h5>Regístrate</h5>
            <div class="price-holder">
              <img src="/images/foto10.jpeg" alt="" style="width:100%;">
            </div>
          </div>
          <!--// price-container -->
          <div class="features-list">
            <h6 style="font-weight:100; color:grey;">Tan solo son algunos datos que necesitamos de ti. Nada complicado para que empieces hacer nuevos amigos</h6>
          </div>
          <div class="" style="margin:20px;">
            <a href="#" style="padding: 9px; border: 1px solid black; border-radius: 10px; background: rgba(255, 255, 255, 0); color:#000;">#FelicidadDG</a>
          </div>

          <!--// features-list -->
        </div>
        <!--// price-box  -->
      </div>
      <!--// col -->

      <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="price-box">
          <div class="price-container">
            <h5>Ayuda a otros</h5>
            <div class="price-holder">
              <img src="/images/foto11.jpeg" alt="" style="width:100%;">
            </div>
          </div>
          <!--// price-container -->
          <div class="features-list">
            <h6 style="font-weight:100; color:grey;">Se generoso con aquellos que requieren de tu ayuda. Ayudanos a hacer realidad los sueños de otros miembros.</h6>
          </div>
          <div class="" style="margin:20px;">
            <a href="#" style="padding: 9px; border: 1px solid black; border-radius: 10px; background: rgba(255, 255, 255, 0); color:#000;">#FelicidadDG</a>
          </div>
          <!--// features-list -->
        </div>
        <!--// price-box  -->
      </div>
      <!--// col -->

      <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="price-box">
          <div class="price-container">
            <h5>Tu recompensa</h5>
            <div class="price-holder">
              <img src="/images/foto13.jpeg" alt="" style="width:100%;">
            </div>
          </div>
          <!--// price-container -->
          <div class="features-list">
            <h6 style="font-weight:100; color:grey;">Has sido una buena persona y nosotros lo sabemos. Por eso nos aseguramos que tus emtas también sean alcanzadas.</h6>
          </div>
          <div class="" style="margin:20px;">
            <a href="#" style="padding: 9px; border: 1px solid black; border-radius: 10px; background: rgba(255, 255, 255, 0); color:#000;">#FelicidadDG</a>
          </div>
          <!--// features-list -->
        </div>
        <!--// price-box  -->
      </div>
      <!--// col -->

      <div class="mb40 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <div class="price-box">
          <div class="price-container">
            <h5>Recomiendanos</h5>
            <div class="price-holder">
              <img src="/images/foto12.jpeg" alt="" style="width:100%;">
            </div>
          </div>
          <!--// price-container -->
          <div class="features-list">
            <h6 style="font-weight:100; color:grey;">Así como tu son muchas las personas que quieren cumplir sus sueños. Por eso estaremos felices de recibir a tus amigos.</h6>
          </div>
          <div class="" style="margin:20px;">
            <a href="#" style="padding: 9px; border: 1px solid black; border-radius: 10px; background: rgba(255, 255, 255, 0); color:#000;">#FelicidadDG</a>
          </div>
          <!--// features-list -->
        </div>
        <!--// price-box  -->
      </div>
      <!--// col -->
  </div>
  <!-- //row -->
</div>
<!-- //container -->
</div>
<!-- //Pricing Tables -->

<!-- icon boxes -->
<div class="services">
  <img src="/images/foto14.jpeg" alt="" style="width:100%;">
</div>
<!-- //icon boxes -->

<!-- text with side image -->
<div class="bg-white pt80 pb80">
  <div class="container">
    <div class="table">
      <div class="row">
        <div class="mb-sm-40 col-md-5 col-sm-12 col-xs-12 side">
          <h3 class="section-title  mb20" style="font-weight: 600">¿Quieres que tus amigos <br>también cumplan sus <br>sueños?</h3>
          <p class="opacity-08" style="font-size: 16px;">
            Nuestra comunidad siempre tendrá espacio para <br> que nuevas personas llegen y logren sus sueños. <br>
            Por eso queremos recompensar la idea de que <br> quisieras traer a tus amigos a ser parte de nuestro <br>
            equipo. Son muchos los beneficios que tenemos <br> para ti y tus sueños.
          </p>
        </div>
        <div class="col-md-6 col-md-push-1 col-sm-12 col-xs-12 content">
          <img src="/images/foto9.jpeg" class="w100" alt="image">
        </div>
      </div>
      <!-- //row -->
    </div>
  </div>
  <!-- //container -->
</div>
<!-- //text with side image -->

</div>
<!-- //section -->

<script type="text/javascript">

//hero-slider carousel
$(".hero-slider").slick({

  dots: false,
  arrows: true,
  infinite: true,
  speed: 800,
  fade: true,
  autoplay: true,
  cssEase: 'linear',
  responsive: [
    {
      breakpoint: 992,
      settings: {
        arrows: false
      }
    }
  ]
});
</script>
