<!-- hero section -->
<header class="hero-section">
  <div class="container-fluid">
    <div class="row">

      <div class="hero-slider">
        <div class="bg-img bg-img-1" style="box-shadow: inset 0 0 0 9999px rgba(29, 90, 150, 0.82);">
          <div class="hero-center col-md-8 col-sm-10 col-xs-12">
            <h1>Nuestros Testimonios</h1>
            <br>
            <br>
            <h3 style="color: rgba(173, 168, 168, 0.68);">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
          </div>
          <!-- <img src="/assets/images/utility/bg-chart.png" class="chart" alt="chart"> -->
        </div>
      </div>
    </div>
    <!-- //row -->
  </div>
  <!-- //container -->

  <a href="#services" class="mouse-box">
    <div class="mouse"></div>
  </a>
</header>
<!-- //hero section -->

<!-- Contact Info -->
<div class="pt80">

  <div class="container">

    <div class="row">

      <div class="mb-sm-40 col-md-4">

        <div class="icon-box-2">

          <i class="pe-7s-headphones"></i>
          <h4>Call us at</h4>
          <a href="#" class="contact-detail">(800) 909-0898</a>

        </div>
        <!-- //icon box -->

      </div>
      <!-- //col -->

      <div class="mb-sm-40 col-md-4">

        <div class="icon-box-2">

          <i class="pe-7s-mail"></i>
          <h4>Email Us at</h4>
          <a href="#" class="contact-detail">support@mail.com</a>

        </div>
        <!-- //icon box -->

      </div>
      <!-- //col -->

      <div class="col-md-4">

        <div class="icon-box-2">

          <i class="pe-7s-map-marker"></i>
          <h4>Visit Us at</h4>
          <a href="#" class="contact-detail">350 5th ave. NY, 11345</a>

        </div>
        <!-- //icon box -->

      </div>
      <!-- //col -->

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</div>
<!-- //Contact Info -->

<!-- Section -->
<div class="pt80 pb80">

    <div class="container">

        <div class="row">

            <h5 class="section-title col-xs-12">Shoot Us a Message</h5>

            <form class="contact-form col-md-6" role="form" method="post" action="">

                <div class="field col-sm-6 col-xs-12">
                    <label>Your Name*</label>
                    <input type="text" id="name" name="name" required="required" value=""><p class='text-danger'></p>
                </div>

                <div class="field col-sm-6 col-xs-12">
                    <label>Your Email*</label>
                    <input type="email" id="email" name="email" required="required" value=""><p class='text-danger'></p>
                </div>

                <div class="field col-xs-12">
                    <label>Your Website (optional)</label>
                    <input type="text" id="website" name="website" required="required" value=""><p class='text-danger'></p>
                </div>

                <div class="field col-xs-12">
                    <label>Your Message*</label>
                    <textarea rows="2" name="message" required="required"></textarea><p class='text-danger'></p>
                </div>

                <div class="field col-xs-12">
                     <input id="submit" name="submit" type="submit" value="Send" class="button button-sm button-primary pull-right">
                </div>

                <div class="field">
                    <?php echo $result; ?>
                </div>
            </form>

            <div class="col-md-6">
                <p class="mb10">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo consequuntur magni dolores.</p>

                <p class="mb10">Donec finibus massa elit, non lobortis eros congue sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus non dui sed elit pellentesque venenatis. Ut hendrerit massa nec quam dapibus, congue suscipit ligula ultricies. Vestibulum vel odio eu lacus porttitor consequat. </p>

                <p>Duis ut consequat erat. Pellentesque nunc nibh, venenatis scelerisque dolor non, rutrum dictum enim. Mauris a efficitur felis, vitae vestibulum quam. Nullam semper nunc vitae lorem pulvinar ullamcorper. Phasellus posuere ipsum ut mollis lacinia. Quisque venenatis magna ut egestas ornare. Aenean vel nisl consectetur, scelerisque mauris at, consectetur sapien. Duis ut erat risus. In sit amet dapibus est.</p>
            </div>

        </div><!-- //row -->

    </div><!-- //container -->

</div>
<!-- //section -->

<script type="text/javascript">
  //hero-slider carousel
  $(".hero-slider").slick({

    dots: false,
    arrows: true,
    infinite: true,
    speed: 800,
    fade: true,
    autoplay: true,
    cssEase: 'linear',
    responsive: [
      {
        breakpoint: 992,
        settings: {
          arrows: false
        }
      }
    ]
  });
</script>
