<!-- hero section -->
<header class="contacto">
  <div class="container-fluid">
    <div class="row"></div>
    <!-- //row -->
  </div>
  <!-- //container -->

  <a href="#services" class="mouse-box">
    <div class="mouse"></div>
  </a>
</header>
<!-- //hero section -->

<!-- Contact Info -->
<div class="pt80">

  <div class="container">

    <div class="row">

      <div class="col-md-4 col-xs-12" style="margin-bottom:60px;">

        <div class="icon-box-2">

          <i class="pe-7s-headphones"></i>
          <h4>LLámanos</h4>
          <a href="#" class="contact-detail">(800) 909-0898</a>

        </div>
        <!-- //icon box -->

      </div>
      <!-- //col -->

      <div class="col-md-4 col-xs-12" style="margin-bottom:60px;">

        <div class="icon-box-2" >

          <i class="pe-7s-mail"></i>
          <h4>Escríbenos</h4>
          <a href="#" class="contact-detail">donatinggoals@gmail.com</a>

        </div>
        <!-- //icon box -->

      </div>
      <!-- //col -->

      <div class="col-md-4 col-xs-12" style="margin-bottom:60px;">

        <div class="icon-box-2">

          <i class="pe-7s-map-marker"></i>
          <h4>Visítanos</h4>
          <a href="#" class="contact-detail">350 5th ave. NY, 11345</a>

        </div>
        <!-- //icon box -->

      </div>
      <!-- //col -->

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</div>
<!-- //Contact Info -->




<!-- Section -->
<div class="pt80 pb80">

    <div class="container">

        <div class="row">

            <h5 class="section-title col-xs-12" style="font-size: 40px;">Envíanos un Mensaje</h5>

            <%= form_for(@contact_message) do |f| %>
              <% if @contact_message.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(c@ontact_message.errors.count, "error") %> prohibited this contact_message from being saved:</h2>

                    <ul>
                    <% @contact_message.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field col-sm-6 col-xs-12">
                    <label>Tu Nombre*</label>
                    <input type="text" id="name" name="contact_message[name]" required="required" value=""><p class='text-danger'></p>
                </div>

                <div class="field col-sm-6 col-xs-12">
                    <label>Tu Correo Electrónico*</label>
                    <input type="email" id="email" name="contact_message[email]" required="required" value=""><p class='text-danger'></p>
                </div>

                <div class="field col-xs-12">
                    <label>Tu Mensaje*</label>
                    <textarea rows="2" name="contact_message[content]" required="required"></textarea><p class='text-danger'></p>
                </div>

                <div class="field col-xs-4 col-xs-offset-4">
                    <input id="submit" name="submit" type="submit" value="Send" class="button button-sm button-primary pull-right">
                </div>

                <div class="field">
                    <?php echo $result; ?>
                </div>
           <% end %>

        </div><!-- //row -->

    </div><!-- //container -->

</div>
<!-- //section -->

<!-- <script type="text/javascript">
  //hero-slider carousel
  $(".hero-slider").slick({

    dots: false,
    arrows: true,
    infinite: true,
    speed: 800,
    fade: true,
    autoplay: true,
    cssEase: 'linear',
    responsive: [
      {
        breakpoint: 992,
        settings: {
          arrows: false
        }
      }
    ]
  });
</script> -->
