<nav class="own-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Ayúdanos</a>
    </div>
  </div>
</nav>

<div class="blog-area bg-light blog-page">
  <div class="col-md-12">
    <div class="pt-20 text-center">
      <div class="cont-faq container-fluid">

        <div class="toggle">
          <div class="toggle-title">
            <h3>
              <span class="title-name">He solicitado hacer una donación y no se me han asignado todos los receptores</span>
              <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>
          <div class="toggle-inner">
            <p>Tránquil@! La plataforma funciona con un algoritmo de asignación
              que se puede tomar aproximadamente 72 horas, depende del volumen
              de donaciones y de recepciones. Por tal motivo es recomendable revisar
              el área de trabajo constantemente. Sin embargo los días en los que
              podrás solicitar una donación cuentan desde el momento que creas tu
              solicitud de donación.</p>
          </div>
        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <span class="title-name">He solicitado una donación y no me han asignado los donadores</span>
              <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>La plataforma funciona con un algoritmo de asignación que se puede
              tomar aproximadamente 72 horas (se puede demorar más sujeto al volumen
              de donaciones), depende del volumen de donaciones y de recepciones,
              por tal motivo es recomendable revisar el área de trabajo constantemente.</p>
          </div>
        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <span class="title-name">Realicé una donación, adjunté el comprobante y el receptor no confirmó la transacción</span>
                <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>En este caso los dos usuarios quedan bloqueados por seguridad; para
              gestionar tú desbloqueo debes escribir a soporte, adjuntar el comprobante
              y relacionar el número de transacción.</p>
          </div>

        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title  ">
            <h3>
              <span class="title-name">¿Cómo verifica DonatinGoals la validez de las transacciones entre los usuarios?</span>
                <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>El protocolo bitcoin o la red blockchain es abierta y su información
              es pública. Todas las transacciones que se hacen en BTC quedan registradas
              en la red de bloques blockhain y cada una genera un numero de transacción.
              Ese número de transacción permite ver la cuenta de la cual salieron
              los BTC, la cuenta que los recibió, el valor de la transacción, la
              fecha en la que se realizó y la comisión que se pagó; no permite ver
              quién es el dueño de cada cuenta, por esto el área de soporte verifica
              la cuenta que recibe los BTC con la cuenta registrada por el beneficiario
              de la donación, así determina si la donación se hizo correctamente o no.</p>
          </div>

        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <span class="title-name">Tengo un donador asignado, no adjuntó comprobante y se venció el plazo</span>
                <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>No te preocupes! Cuando el usuario donador no adjunta ningún comprobante
              la plataforma automáticamente asigna un nuevo usuario donador con un nuevo plazo.</p>
          </div>

        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <span class="title-name">Realicé una donación, no adjunte el comprobante y estoy bloqueado/a</span>
              <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>La única prueba que tiene la plataforma y los demás usuarios para
              verificar las donaciones son los comprobantes adjuntos. Debido a la
              re-asignación automática cuando no hay ningún comprobante adjunto,
              tu donación no podrá ser confirmada y deberás realizar una nueva.</p>
          </div>

        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <span class="title-name">¿Porque la comunidad DonatinGoals prefiere las criptomonedas como el Bitcoin para realizar y recibir donaciones?</span>
              <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>Las donaciones se pueden hacer y recibir en cualquier tipo de moneda
              ya sea virtual o física; sin embargo la comunidad ha ido adoptando
              las criptomonedas en especial el bitcoin como herramienta de donación,
              ya que por sus características es más eficiente que una moneda convencional,
              algunas ventajas de las criptomonedas son:<br>
              Anonimato.<br>
              Comisiones bajas.<br>
              Facilidad en transferencias internacionales.<br>
              Crecimiento en el valor de la criptomoneda.
            </p>
          </div>

        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <span class="title-name">Ingresé un referido y no puse mi correo en el campo “Correo de quien te refiere”</span>
              <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>En este caso el usuario nuevo no quedo en el sistema como tu referido
              y no se te asignaran los bonos que generen sus donaciones. El área
              de soporte no puede solucionar este caso, lo recomendable es crear
              otra cuenta y hacer el proceso de forma correcta.
            </p>
          </div>

        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <span class="title-name">¿Es obligatorio referir personas para continuar activo en la comunidad?</span>
              <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>En Donating Goals no es obligatorio referir personas para poder hacer o
              recibir donaciones; sin embargo es recomendable hacerlo ya que la
              eficiencia de la comunidad depende de su crecimiento.
            </p>
          </div>

        </div>
        <!-- END OF TOGGLE -->

        <div class="toggle">
          <div class="toggle-title ">
            <h3>
              <span class="title-name">¿Cuál es el valor mínimo y máximo que se puede donar en la comunidad?</span>
              <i class="fa fa-caret-down" aria-hidden="true" style="margin:0px 30px;"></i>
            </h3>
          </div>

          <div class="toggle-inner">
            <p>Mínimo 5 dólares, máximo 10.000 dólares (valor de referencia,
              las donaciones se realizan en criptomonedas).
            </p>
          </div>

        </div>
        <!-- END OF TOGGLE -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    jQuery(".toggle .toggle-title").removeClass("active").closest('.toggle').find('.toggle-inner').hide();

  	jQuery(".toggle .toggle-title").click(function(){
  		if( jQuery(this).hasClass('active') ){
  			jQuery(this).removeClass("active").closest('.toggle').find('.toggle-inner').slideUp(200);
  		}
  		else{	jQuery(this).addClass("active").closest('.toggle').find('.toggle-inner').slideDown(200);
  		}
  	});
</script>
