<%= stylesheet_link_tag "style_countdown" %>

<!-- hero section -->
<header class="hero-section">
  <div class="container-fluid">
    <div class="row">
      <div class="hero-slider">
        <div id="sueños">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="own-title">
              <h3>Sueños</h3>
              <h2>Hechos</h2>
              <h1>Realidad</h1>
              <p>¿Tienes un sueño que no has podido cumplir?</br>Somos una comunidad a nivel mundial que ayuda a sus miembros a lograr sus metas financieras. Queremos que seas feliz, por eso tus metas serán también nuestras metas</p>
            <a href="/users/sign_up" class="button button-primary button-md" style="float: left; width: 68%; font-size: 16px!important; border-radius: 10px; padding: 16px 15px !important;">Quiero participar</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="foto-slider">
            <img src="/images/foto1.png" style="width:70%;"/>
          </div>
        </div>
      </div> 

      <div id="count">
        <div id="page">
          <div id="fh5co-container" class="js-fullheight">
            <div class="countdown-wrap js-fullheight">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="display-t js-fullheight">
                    <div class="display-tc animate-box">

                      <div class="simply-countdown simply-countdown-one"></div>
                      <div class="row own-row">
                  	    <div class="col-md-12 desc">
                  		    <h2>Our platform is opening soon. <br> Please register to get 5% more in your account balance!</h2>
                  		    <form class="form-inline" id="fh5co-header-subscribe">
                  			    <div class="col-md-12 col-md-offset-0">
                  				    <div class="form-group">
                  					    <a href="/users/sign_up" class="btn btn-primary"> Subscribe </a>
                  				    </div>
                  			    </div>
                  		    </form>
                  	    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-cover js-fullheight" style="background-image:url(/images/counter_back.png);">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //row -->
</div>
<!-- //container -->
</header>
<!-- //hero section -->

<!-- Services -->
<div id="services" class="services" style="margin-top:50px;">
<div class="container-fluid" style="padding:0px;">
  <div class="box-metas">
    <p class="par-metas">Cumple tus metas</p>
    <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color: #85A4C0; width:12%; top:-25px; font-weight: 500;font-size: 69px;"></span>
    <p style="color:#fff;" class="par-metas">¿Quieres ser parte de nuestra comunidad?</p>
    <p style="color: #689BC6; font-size: 16px;">Siempre estamos buscando personas con metas, esas quienes piensan que todo es posible. Estamos acá para ayudarte.</p>

    <a href="/users/sign_up" class="button button-sm button-primary" style="background: #fff; font-size: 15px!important; color: #2A5680; border-radius: 10px; letter-spacing: 1px;">Únete</a>
  </div>
  <div class="coment">
    <p style="color: #fff;">"Nunca pensé que iba ser tan fácil. Estoy muy contento siendo parte de esta comunidad. Yo los ayudo y luego ellos me ayudan!."</p>
    <p style="color: rgba(255, 255, 255, 0.57);">
      -Diego Hincapié. Participante Activo.
    </p>
  </div>
  <div class="img-services">
    <img src="/images/foto2.jpg" alt="" style="width: 100%; margin-top:70px;">
  </div>
</div>
<!-- //container -->
</div>
<!-- //Services -->

<!-- text with image bg -->
<div class="" style="margin-bottom: 72px;">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12 own-secc">
      <img src="/images/foto5.png" alt="" style="width: 100%; padding: 88px 95px 0px;">
      <p class="sec3">Cumplimos</p>
      <div style="height: 120px;">
        <p style="text-align: center; margin: 0px 20px; color: #000; font-weight: 600; height:100%">Si eres miembro activo de nuestra comunidad te cumpliremos esas metas que nunca pensaste cumplir</p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 own-secc">
      <img src="/images/foto4.png" alt="" style="width: 100%; padding: 88px 95px 0px;">
      <p class="sec3">Soporte</p>
      <div style="height: 120px;">
        <p style="text-align: center; margin: 0px 20px; color: #000; font-weight: 600; height:100%">Tenemos un soporte comprometido y directo todos los días de la semana. Velando por el cumplimiento constante de tus metas.</p>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 own-secc">
      <img src="/images/foto3.png" alt="" style="width: 100%; padding: 88px 95px 0px;">
      <p class="sec3">Metas</p>
      <div style="height: 120px;">
        <p style="text-align: center; margin: 0px 20px; color: #000; font-weight: 600; height:100%">Asegurate de tener claras tus metas. Nuestra comunidad se hará cargo de los demás</p>
      </div>
    </div>
  </div>
  <!-- //row -->

</div>
<!-- //container -->
</div>
<!-- //text with image bg -->

<!-- //titulo testimonios -->
<div class="testimonios" style="background:#34393D; margin-top:20px;">
  <div class="container">
    <div class="row">
      <h3 style="text-align: center; margin: 65px 10px 0px 10px; color: #fff;">Territorio</h3>
      <h1 style="text-align: center; margin: 0px; color: #fff; font-size: 43px; font-weight: 900;" id="tit-test">DONATING GOALS</h1>
      <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color: #6d9f00;width: 100%;font-weight: 700;font-size: 70px;text-align: center;"></span>
      <div class="" style="width: 100%; height: 100px; padding: 20px 30px; margin-top:30px;">
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>AR</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>BR</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>CL</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>CO</h1>
        </div>
      </div>

      <div class="" style="width: 100%; height: 100px; padding: 20px 85px;">
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>EC</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>ES</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>MX</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>PA</h1>
        </div>
      </div>

      <div class="" style="width: 100%; height: 100px; padding: 20px 135px;">
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>PE</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>PT</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>DO</h1>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 col-terr">
          <h1>UY</h1>
        </div>
      </div>

      <div class="" style="width: 100%; height: 100px; padding: 20px; margin-bottom: 90px;">
        <div class="col-xs-12 col-terr">
          <h1>US</h1>
        </div>
      </div>
    </div>
    <!-- //row -->
  </div>
  <!-- //container -->
</div>
<!-- //section -->

<!-- //titulo Metas -->
<div>
  <div class="container-fluid" style="padding:0px; margin:0px;">
    <div class="row" style="margin: 0px;">
      <div class="col-md-5 col-xs-12" style="padding:0px; margin:0px;">
        <div class="info-met">
          <h1 style="font-weight: 900; color: #34383B; margin: 0px;">Metas Conseguidas</h1>
          <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color: #114D7F; width: 12%; top: -32px;; font-weight: 500; font-size: 82px;"></span>
          <p style="margin: 0px; padding: 0px 20px 30px;">La felicidad de nuestra comunidad es nuestra meta principal. Queremos verte siempre sonreir por eso contamos con una comunidad colaborativa a nivel
          mundial que te pueda dar la certeza de alcanzar tus metas.</p>
          <div class="" style="width:100%;">
            <div class="col-xs-4">
              <img src="/images/iconos1.png" alt="" style="width:100%;">
            </div>
            <div class="col-xs-4">
              <img src="/images/iconos2.png" alt="" style="width:100%;">
            </div>
            <div class="col-xs-4">
              <img src="/images/iconos3.png" alt="" style="width:100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-xs-12" style="padding:0px; margin:0px;">
        <img src="/images/fotoVerde.jpg" alt="" style="width:100%;">
      </div>

      <div class="col-md-7 col-xs-12" style="padding:0px; margin:0px;">
        <img src="/images/fotoAzul.jpg" alt="" style="width:100%;">
      </div>
      <div class="col-md-5 col-xs-12" style="padding:0px; margin:0px;">
        <div class="info-met">
          <h1 style="font-weight: 900; color: #34383B;">Lo que siempre soñaste</h1>
          <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color: #114D7F; width: 12%; top: -25px; font-weight: 500; font-size: 82px;"></span>
          <p>Atrévete a soñar. Sabemos que son muchos los sueños que tienes por cumplir. Por eso queremos que seas parte de una comunidad mundial que ayuda a sus
          miembros a alcanzar sus metas</p>
          <div class="" style="width:100%; margin-top:35px;">
            <div class="col-xs-4">
              <img src="/images/iconos4.png" alt="" style="width:100%;">
            </div>
            <div class="col-xs-4">
              <img src="/images/iconos5.png" alt="" style="width:100%;">
            </div>
            <div class="col-xs-4">
              <img src="/images/ionos6.png" alt="" style="width:100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //row -->
  </div>
  <!-- //container -->
</div>
<!-- //section -->

<!-- //titulo Metas -->
<div class="" style="margin:0px; background: #34393d;">
  <div class="container-fluid" style="margin:0px;">
    <div class="row" style="padding: 0px;">
      <div class="col-md-6 col-xs-12" style="padding:188px 66px 100px 66px;">
        <img src="/images/foto8.png" alt="" style="width:100%;">
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="title-union">
          <h1>La union hace la fuerza</h1>
          <h2>#DONATINGGOALS</h2>
          <p style="color: #fff; margin: 71px; font-size: 23px; line-height: 1.5;">Hacer el bien para luego ser recompensado no suena mal. Nuestra comunidad valora los buenos
          actos de sus miembros y aporta de igual manera a aquellas personas que ayudan a los otros.</p>
          <a href="#" class="button button-primary button-md own-btn2" style="font-size: 16px!important; border-radius: 10px; padding: 15px 15px !important; margin: 0px 75px 70px;">Quiero participar</a>
        </div>
      </div>
    </div>
    <!-- //row -->
  </div>
  <!-- //container -->
</div>
<!-- //section -->

<!-- //titulo Metas -->
<div class="" style="margin:0px; background: #fff;">
  <div class="container-fluid" style="margin:0px;">
    <div class="row" style="padding: 0px;">
      <div class="last-text">
        <h1 style="text-align:center;">Ayuda y Gana</h1>
        <p>Somos ese grupo de amigos que está por ahí para ayudarte a que seas feliz. Son muchos
        los beneficios que traemos para que tu y los tuyos sean felices.</p>
        <a href="#" class="button button-primary button-md own-btn">Solicita Información</a>
      </div>
    </div>
    <!-- //row -->
  </div>
  <!-- //container -->
</div>
<!-- //section -->


<%= javascript_include_tag 'jquery.waypoints.min' %>
<%= javascript_include_tag 'simplyCountdown' %>
<%= javascript_include_tag 'main' %>

<script type="text/javascript">
var d = new Date(new Date().getTime() + 90 * 120 * 120 * 2000);

// default example
simplyCountdown('.simply-countdown-one', {
  year: d.getFullYear(),
  month: d.getMonth() + 1,
  day: d.getDate()
});

//jQuery example
$('#simply-countdown-losange').simplyCountdown({
  year: d.getFullYear(),
  month: d.getMonth() + 1,
  day: d.getDate(),
  enableUtc: false
});

$(".hero-slider").slick({

  dots: false,
  arrows: true,
  infinite: true,
  speed: 800,
  fade: true,
  autoplay: true,
  cssEase: 'linear',
  responsive: [
    {
      breakpoint: 992,
      settings: {
        arrows: false
      }
    }
  ]
});
</script>
