<nav class="own-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 18px;color: #606060;line-height: 20px;">Ayúdanos</a>
    </div>
  </div>
</nav>

<div class="blog-area bg-light blog-page">
 <div class="col-md-12">
  <div class="pt-20 text-center">

    <h1 style="margin:30px;">Video Instruccional</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/c0QcjTEAr6w" frameborder="0" allowfullscreen></iframe>


   <nav aria-label="Page navigation">
     <h1 style="margin:30px;">Guía Paso a Paso</h1>
    <ul class="pagination">
      <li>
        <a class="1 add active">1</a>
      </li>
      <li>
        <a class="2 add">2</a>
      </li>
      <li>
        <a class="3 add">3</a>
      </li>
      <li>
        <a class="4 add">4</a>
      </li>
      <li>
        <a class="5 add">5</a>
      </li>
      <li>
        <a class="6 add">6</a>
      </li>
      <li>
        <a class="7 add">7</a>
      </li>
      <li>
        <a class="8 add">8</a>
      </li>
     </ul>
    </nav>

    <div class="" style="margin-bottom:50px;">
      <div class="step-one step">
        <div class="dim">
          <img src="/images/01.png" alt="" class="step-img">
        </div>

        <p class="step-text">Para poder solicitar primero debes realizar una
          donación por un valor de entre 10 Usd y 10000 Usd en el area de trabajo
          </p>
      </div>

      <div class="estavuelta step step-two">
        <div class="dim">
          <img src="/images/02.png" alt="" class="step-img">
        </div>

        <p class="step-text">Posterior a la donación el sistema te asignará
          transacciones a medida que los usuarios que ya donaron, realicen sus
          solicitudes, este proceso puede ser instantáneo o puede tomar al rededor
          de uno o dos días dependiendo del flujo de solicitudes.
          </p>
      </div>

      <div class="step-three step estavuelta">
        <div class="dim">
          <img src="/images/03.png" alt="" class="step-img">
        </div>
        <p class="step-text">Al generarse  las transacciones serás notificado en
          el panel de notificaciones. Las transacciones disponen de un campo para
          subir la captura de pantalla de la transferencia de bitcoins que realices,
          también disponen de un botón mediante el cual puedes abrir un chat para
          que puedas notificar al receptor una vez hayas subido el recibo.
          <br>
          Se disponen 48 horas  desde que la transacción ha sido generada para
          realizar la transferencia , en caso de no realizar la transacción a tiempo
          tu cuenta será bloqueada y tendrás que comunicarte con soporte para proceder con el desbloqueo.
          </p>
      </div>

      <div class="step-four step estavuelta">
        <div class="dim">
          <img src="/images/04.png" alt="" class="step-img">
        </div>
        <p class="step-text">Posteriormente el usuario que realizó la solicitud
          revisa el recibo y confirma la transacción realizada.
          </p>
      </div>

      <div class="step-five step estavuelta">
        <div class="dim">
          <img src="/images/05.png" alt="" class="step-img">
        </div>
        <p class="step-text">Una vez estén confirmadas toda las transacciones de
          la donación, tu saldo aumentará 15 días después de la fecha en la que
          la enviaste. El aumento del saldo se realiza por el valor que enviaste
          mas un 25%, por ejemplo si envías 100 dólares tu saldo aumentará  125 dólares.
          </p>
      </div>

      <div class="step-six step estavuelta">
        <div class="dim">
          <img src="/images/06.png" alt="" class="step-img">
        </div>

        <p class="step-text"> Una vez tu saldo ha aumentado, estas listo para solicitar!
          Cuando realizas la solicitud el sistema te asigna las transacciones
          automáticamente, al igual que con el proceso de donaciones , este puede
          ser instantáneo o puede tomar al rededor de un día. Ahora que tu eres
          el usuario que recibe,  debes ser tu quien confirme las transacciones
          una vez  el recibo haya sido enviado.
          </p>
      </div>

      <div class="step-seven step estavuelta">
        <div class="dim">
          <img src="/images/07.png" alt="" class="step-img">
        </div>

        <p class="step-text">En el panel de balance puedes ver el estado de tus
          donaciones y solicitudes, el tiempo que faltan para completarse, la
          cantidad de transacciones completadas, en proceso, y el rendimiento de
          tus donaciones, también puedes generar un link para compartir con tus
          contactos, para que estos se registren como tus referidos.
          </p>
      </div>

      <div class="step-eight step estavuelta">
        <div class="dim">
          <img src="/images/08.png" alt="" class="step-img">
        </div>

        <p class="step-text">Ademas de recibir el beneficio del 25%, si tienes
          referidos  (personas que se inscriban a la plataforma ingresando tu
          email en el campo de referido) puedes obtener otro beneficios, para
          conocer tus referidos puedes fijarte en el panel de referidos y para
          saber si puedes o no cobrar los bonos de las donaciones realizadas por
          estos, puedes consultar en la página de estado de referidos.
          </p>
      </div>
    </div>
   </div>
  </div>
 </div>

 <script type="text/javascript">
 jQuery(".estavuelta").hide();

   	jQuery('.1').click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".1").addClass("active");
      jQuery(".estavuelta").hide();
      jQuery(".step-one").show();
   	});

    jQuery(".2").click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".2").addClass("active");
      jQuery(".step-one").addClass("estavuelta");
      jQuery(".estavuelta").hide();
      jQuery(".step-two").show();
   	});

    jQuery(".3").click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".3").addClass("active");
      jQuery(".step-one").addClass("estavuelta");
      jQuery(".estavuelta").hide();
      jQuery(".step-three").show();
   	});

    jQuery(".4").click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".4").addClass("active");
      jQuery(".step-one").addClass("estavuelta");
      jQuery(".estavuelta").hide();
      jQuery(".step-four").show();
   	});

    jQuery(".5").click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".5").addClass("active");
      jQuery(".step-one").addClass("estavuelta");
      jQuery(".estavuelta").hide();
      jQuery(".step-five").show();
   	});

    jQuery(".6").click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".6").addClass("active");
      jQuery(".step-one").addClass("estavuelta");
      jQuery(".estavuelta").hide();
      jQuery(".step-six").show();
   	});

    jQuery(".7").click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".7").addClass("active");
      jQuery(".step-one").addClass("estavuelta");
      jQuery(".estavuelta").hide();
      jQuery(".step-seven").show();
   	});

    jQuery(".8").click(function(){
      jQuery(".add").removeClass("active");
      jQuery(".8").addClass("active");
      jQuery(".step-one").addClass("estavuelta");
      jQuery(".estavuelta").hide();
      jQuery(".step-eight").show();
   	});
 </script>
