<!-- Page title -->
<header class="page-title" style="background: #fff;">

  <div class="container">

    <div class="row">

      <ol class="breadcrumb">

        <li><a href="/">Home</a></li>
        <li><a href="/que_es" class="active">Que es?</a></li>

      </ol>

      <h1 >Que es Donating Goals?</h1>
      <p>Somos una comunidad que ayuda a sus miembros a cumplir sus metas, <br>¿tienes dudas?  Contrata a nuestra linea de soporte <a href="/contacto">Linea de soporte</a></p>

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</header>
<!-- //page title -->

<!-- Section -->
<div class="">

  <div class="container">

    <div class="row">

      <div class="mb60 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
 
        <p class="mb10" style="font-size:24px; line-height: 1.2; font-weight: 100;">
          Es una comunidad internacional cuyo único fin es tener felices a sus miembros. 
          La idea es que cada persona aporta a la comunidad una donación, la cual es distribuida entre los miembros que tienen registrados
          sus sueños en nuestra plataforma. De esta manera cada uno de nuestros miembros podrá alcanzar ese sueño 
          que pensó nunca iba a conseguir. 
        </p>

      </div>

      <div class="mb60 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <img src="/images/que.png" class="w100">
      </div>

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</div>
<!-- //section -->

<!-- icon boxes -->
<div class="services pt40 pb40 bg-color-1" >

  <div class="container">

    <div class="row">


      <div class="mb-sm-40 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
      
        <div class="col-md-12 text-center">
          
          <img src="/images/91-01.png" style="width:100px">

        </div>

        <div class="icon-box-1 col-md-12 text-center">

          <h4 class="color-white ">24/7 Atención al cliente</h4>

          <p class="color-white opacity-08">Contamos con un equipo de soporte didicado a atender tus requerimientos a cualquier hora. </p>

        </div>
      </div>
      <!-- // Service Block -->

      <div class="mb-sm-40 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        
        <div class="col-md-12 text-center">
          
          <img src="/images/b-01.png" style="width:100px">

        </div>
        
        <div class="icon-box-1 col-md-12 text-center">

          <h4 class="color-white">Comunidad colaborativa</h4>

          <p class="color-white opacity-08">Contamos con una comunidad a nivel mundial que trabaja arduamente para cumplir las metas de todos nuestros miembros.</p>

        </div>
      </div>
      <!-- // Service Block -->

      <div class="mb-sm-40 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
       
        <div class="col-md-12 text-center">
          
          <img src="/images/c-01.png" style="width:100px">

        </div>

        <div class="icon-box-1 col-md-12 text-center">
          <h4 class="color-white">Metas cumplidas</h4>

          <p class="color-white opacity-08">Sin importar cuan imposible es tu sueño, trabajamos arduamente para que se haga realidad.</p>

        </div>

      </div>
      <!-- // Service Block -->

    </div>
    <!-- //row -->

  </div>
  <!-- //container -->

</div>
<!-- //icon boxes -->

<!-- Team -->
<div class="bg-white pt80 pb20">

  <div class="container">

    <h1 class="text-center" style="margin-bottom:30px;" >Nos recomiendan</h1>
    <div class="row">

      <div class="mb60 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="team-member">

          <div class="image-holder">

            <img src="/images/101.jpeg">

            <div class="member-info">

              <h5>Cerebros Millonarios</h5>
              <h6>Categoría: Financiera</h6>

              <div class="hover-content">

                <p>Esta es una marca digital especializada en dar sugerencias financieras a sus <br>seguidores.
</p>

                <div class="member-social">

                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>

                </div>
                <!--// member-social -->

              </div>
              <!--// hover-content -->

            </div>
            <!--// member-social -->

          </div>
          <!--// image-holder -->

        </div>
        <!--// team-member -->

      </div>
      <!--// col -->

      <div class="mb60 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="team-member">

          <div class="image-holder">

            <img src="/images/102.jpeg">

            <div class="member-info">

              <h5>Los Tacones de Julia</h5>
              <h6>Categoría: Femenina.</h6>

              <div class="hover-content">

                <p>Marca digital especializada en publicaciones relacionadas a las tendencias de moda femenina.</p>

                <div class="member-social">

                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>

                </div>
                <!--// member-social -->

              </div>
              <!--// hover-content -->

            </div>
            <!--// member-social -->

          </div>
          <!--// image-holder -->

        </div>
        <!--// team-member -->

      </div>
      <!--// col -->

      <div class="mb60 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

        <div class="team-member">

          <div class="image-holder">

            <img src="/images/103.jpeg">

            <div class="member-info">

              <h5>Motivation Fitnes</h5>
              <h6>Categoría: Fitness.</h6>

              <div class="hover-content">

                <p>Marca digital enfocada en hacer publicaciones relacionadas al mundo fitness en latinoamérica.</p>

                <div class="member-social">

                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>

                </div>
                <!--// member-social -->

              </div>
              <!--// hover-content -->

            </div>
            <!--// member-social -->

          </div>
          <!--// image-holder -->

        </div>
        <!--// team-member -->

      </div>
      <!--// col -->

    </div>

  </div>

</div>
<!--// Team -->
