

<!-- text with side image -->
<div class="bg-white pt80 pb80">

    <div class="container">

        <div class="table">

            <div class="row">

                <div class="mb-sm-40 col-md-5 col-sm-12 col-xs-12 side">
                   <h3 class="section-title  mb20">Podemos llevar tus sueños al siguiente nivel, permítete soñar con donating goals.</h3>
                   <p class="opacity-08">
                    Nuestra plataforma de donaciones cuenta con las herramientas para que puedas llevar a cabo tus sueños, 
                    herramientas sólidas y confiables utilizadas por miles de usuarios a través de latino america para poder trabajar en conjunto por sus metas. 
                    </p>
                </div>

                <div class="col-md-6 col-md-push-1 col-sm-12 col-xs-12 content">

                    <img src="/images/testimonios.jpeg" class="w100" alt="image">

                </div>

            </div><!-- //row -->

        </div>

    </div><!-- //container -->

</div>
<!-- //text with side image -->

<div style="padding-bottom: 40px !important;">
  <div class="container-fluid">
    <h2 class="section-title">Porque sus usuarios aman a Donating Goals</h2>

    <div class="team-member">
      <div class="owl-carousel owl-theme">
        <div class="item" style="margin: 10px;">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Pertenecer a Donating goals me permitio cumplir mi sueño de conocer Europa, 
                  algo que no hubiera sido posible de no haber pertenicdo a esta increible comunidad"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario1.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Erica Fontalvo </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item" style="margin: 10px;">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Estoy feliz por los beneficios que he recibido al pertenecer a esta comunidad, 100% recomendados"</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario2.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Andres Sanpedro </p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
        <div class="item" style="margin: 10px;">
          <div class="price-box">
            <div class="price-container owl-style">
              <div style="margin: 10px;">
                <h4 style="font-style:italic; font-size:12px; color: rgba(117, 116, 116, 0.91)">
                  <span class="duration">"Logre abrir mi propio negocio e independencia financiera, al principio estube un poco exeptico, 
                  pero Donating dreams me demostro que hacer parte de esta comunidad si paga. "</span>
                </h4>
              </div>
            </div>
            <div class="features-list">
              <div class="card">
                <div class="row">
                  <div class="col-xs-6">
                    <img class="card-img-top" src="/assets/images/usuario3.jpg" alt="Card image cap" style="border-radius: 50%; height: 100px; width: 100px;">
                  </div>
                  <div class="col-xs-6">
                    <p class="features-footer"> <span>/</span> Kevin Rojas</p>
                  </div>
                </div>
              </div>
            </div><!--// features-list -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

//hero-slider carousel
$(".hero-slider").slick({

    dots: false,
    arrows: true,
    infinite: true,
    speed: 800,
    fade: true,
    autoplay: true,
    cssEase: 'linear',
    responsive: [{
        breakpoint: 992,
        settings: {
            arrows: false
        }
    }]
});

</script>
